{% extends "base.html" %}

{% block content %}
    <div> User: {{ user.username }} </div>

    {{ question.title }}
    <br>
    Text: {{ question.text }}
    <br>
    (Author: {{ question.author }})

    {% for a in answers %}
        <div> Text: {{ a.text }} <br> Author: ({{ a.author }}) <br>  </div>
    {% endfor %}

    <form method = "post" action="{% url 'question' question.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit"> Save </button>
    </form>


{% endblock %}